/*** footer to bottom ***/
html,
body {
  height: 100%;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body{
  @extend %montserrat-400;
  font-size: 16px;
  line-height: 30px;
  color: $default;
  background-color: $bg-def;
  // /*** footer to bottom ***/
  // display: flex;
  // flex-direction: column;
}

  // /*** footer to bottom ***/
  // .main {
  //   flex-grow: 1;
  // }

.container{
  max-width: 1440px;
  padding: 0 15px;
  margin: 0 auto;
}

section {
  padding-top: 140px;
  margin-bottom: 140px;
}