@import "vars";
@import "fonts";
@import "reset";
@import "global";


/* menu */

.header {
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  color: #ffffff;
  height: 100vh;
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
 
  }
  &__title {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 50%;
    transform: translate(0, -50%);
    @extend %montserrat-500;
    font-size: 68px;
    line-height: 83px;
    text-align: center;
  }
  &__title span {
    display: block;
  }
  &__sub-title {
    @extend %montserrat-400;
    font-size: 20px;
    line-height: 30px;
  }
}

.menu {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  color: $default;
  background-color: $bg_menu;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  z-index: 3;
}

.nav-main {
  &__list {
    display: flex;
    align-items: cnter;
    justify-content: left;
    padding-left: 125px;
  }

  &__item+.nav-main__item {
    padding-left: 35px;
  }

  &__link {
    @extend %montserrat-600;
    font-size: 12px;
    line-height: 15px;
    color: $def_grey;
    text-transform: uppercase;

    &:hover {
      color: $default;
    }
  }

  &__link--active {
    color: $default
  }
}

.nav-secondary {
  display: flex;
  align-items: center;
  justify-content: space-between;
  @extend %montserrat-500;
  font-size: 14px;
  line-height: 17px;

  &__cabinet-link {
    @extend %btn;
    
  }

  &__cabinet-link:first-letter {
    text-transform: capitalize;
  }

  &__container {
    display: flex;
    align-items: center;
  }

  &__list {
    display: flex;
    align-items: center;
    padding-left: 30px;
  }

  &__item+.nav-secondary__item {
    padding-left: 40px;
  }

  &__item {
    position: relative;
    padding: 20px 0;
  }

  &__link {
    @extend %montserrat-500;
    font-size: 14px;
    line-height: 17px;
    color: $default;
  }

  &__link--drop::after {
    content: "";
    width: 10px;
    height: 10px;
    background-image: url("../images/icons/dropdown-arrow.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: inline-block;
    margin-left: 5px;
    transition: transform 0.3s;
  }

  &__list--dropdown {
    display: block;
    position: absolute;
    width: 240px;
    background-color: $bg_menu;
    left: calc(50% - 6rem);
    top: 100%;
    padding: 20px 20px 25px 20px;
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.2);
    transition: all 0.3s;
    opacity: 0;
    visibility: hidden;
    border-radius: 0 0 20px 20px;
  }
}

.mobile-back {
  display: none;
}

.dropdown-list {
  &__item:not(:last-child) {
    margin-bottom: 25px;
  }

  &__link {
    @extend %montserrat-500;
    font-size: 14px;
    line-height: 17px;
    color: $default;
  }

  &__link:hover {
    color: $accent;
  }
}

/***** burger ******/
.burger {
  width: 40px;
  height: 20px;
  cursor: pointer;
  background-color: transparent;
  border: none;
  position: relative;
  display: none;
}

.burger::after,
.burger::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 2px;
  background-color: $footer;
}

.burger::after {
  top:auto;
  bottom: 0;
}

.burger span {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  height: 2px;
  display: inline-block;
  background-color: $footer;
}

@media(max-width: 992px) {
  .nav-secondary__button {
    display: none;
  }
  .burger {
    display: block;
  }

  .mobile-back{
    display: block;
  }

  .nav {
    position: fixed;
    left: 0;
    top: 0;
    max-width: 400px;
    width: 80%;
    height: 100vh;
    z-index: 100;
    box-shadow: 5px 0 15px -5px rgba(0, 0, 0, 0.8);
    background-color: $bg_menu;
  }
  .nav-secondary__list {
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    padding-top: 10%;
    position: relative;
  }
  .nav-secondary__item {
    margin-left: 0 important;
    font-size: 20px;
    width: 100%;
    padding: 0;
    position: static;
  }
}
/*** meet-needs section***/
.meet-needs{
  &__content{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__info{
    max-width: 640px;
  }
  &__info p {
    @extend  %montserrat-600;
    margin-bottom: 50px;
    font-size: 32px;
    line-height: 45px;
  }
  &__link{
    @extend %btn;
    text-transform: uppercase;
  }
  &__picture{
    width: 570px;
    height: 570px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    border-radius: 0 100px;
  }
}


/***** footer ******/
.footer {
  position: relative;
  background-color: $footer;
  color: $footer_grey;
}

.footer::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 70px;
  height: 1px;
  width: 100%;
  background-color: #323538;
}

.footer-top {
  &__wrap {
    display: flex;
    justify-content: space-between;
    padding-top: 100px;
    margin-bottom: 50px;
  }

  &__contacts {
    width: 255px;

  }

  &__title {
    @extend %montserrat-400;
    font-size: 14px;
    line-height: 25px;
    text-transform: uppercase;
  }

  &__title--nav {
    @extend %montserrat-500;
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
  }

  &__adress,
  &__schedule,
  &__call {
    @extend %montserrat-400;
    font-size: 14px;
    line-height: 25px;
  }

  &__list,
  &__business-link {
    @extend %montserrat-400;
    font-size: 14px;
    line-height: 17px;
  }

  &__sertificate {
    @extend %montserrat-400;
    font-size: 12px;
    line-height: 21px;
  }

  &__title--nav {
    margin-bottom: 30px;
  }

  &__nav {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 85px;
  }

  &__items {
    // flex-grow: 1;
    width: 220px;
  }

  &__items {
    padding-left: 50px;
  }

  &__item {
    color: $bg;
  }

  &__item:not(:last-child) {
    margin-bottom: 25px;
  }

  &__adress,
  &__schedule,
  &__call {
    margin-bottom: 30px;
  }

  &__time,
  &__phone {
    display: block;
  }

  &__business-link {
    padding-left: 50px;
  }
}

.logo-footer {
  display: inline-block;
  margin-bottom: 20px;
}

.footer-bootom {
  padding: 30px 0;
}

.footer-bootom p {
  padding-top: 30px;
  text-align: center;
  font-size: 12px;
  line-height: 14px;
}




@media (min-width: 769px) {
  .nav-secondary {
    &__item:hover .nav-secondary__list--dropdown {
      visibility: visible;
      opacity: 1;
      transition: all 0.7s;
    }


    &__link--drop:hover::after {
      color: $accent;
      transform: rotate(180deg);
      transition: all 0.3s;
    }
  }

  @media (max-width: 1200px) {
    .media {
      display: none;
      padding: 0;
    }
  }

}

@import "media";